<p>
    <img src="/static/{{img_name}}" alt="" type="saveimage" target="[object Object]"
         preventdefault="function (){i.isDefaultPrevented=n}"
         stoppropagation="function (){i.isPropagationStopped=n}"
         stopimmediatepropagation="function (){i.isImmediatePropagationStopped=n}"
         isdefaultprevented="function t(){return!1}"
         ispropagationstopped="function t(){return!1}"
         isimmediatepropagationstopped="function t(){return!1}"
         width="1003" height="710" />
</p>